<section id="team" class="team-section">
  <h2 class="team-title">Meet the Team</h2>
  <p class="team-description">
    Our leadership team blends technical expertise, operational excellence, and a relentless commitment to securing your infrastructure.
  </p>

  <div class="team-grid">
    <div class="team-card">
      <img src="assets/Aniss.jpeg" alt="Aniss" />
      <h3>Anis Chebbi</h3>
    </div>
    <div class="team-card">
      <img src="assets/Ghassen.jpeg" alt="Ghassen" />
      <h3>Ghassen Dridi</h3>
    </div>
    <div class="team-card">
      <img src="assets/Divin.jpg" alt="Divin" />
      <h3>Divin Djorly</h3>
    </div>
    <div class="team-card">
      <img src="assets/Youssef.jpeg" alt="Youssef" />
      <h3>Youssef Ayedi</h3>
    </div>
  </div>

  <div class="team-grid">
    <div class="team-card">
      <img src="assets/oumaima.png" alt="oumaima" />
      <h3>Oumaima Brahmi</h3>
    </div>
    <div class="team-card">
      <img src="assets/amor.jpeg" alt="Omar" />
      <h3>Omar Hamdaoui</h3>
    </div>
    <div class="team-card">
      <img src="assets/Sana.jpg" alt="Sana Rahmani" />
      <h3>Fedi Belgacem</h3>
    </div>
  </div>    
</section>
