<section id="tools" class="tool-section">
  <h2>Our Tools</h2>
  <p class="description">
  We integrate a suite of industry-leading tools into our <strong>SOC</strong> solution to ensure real-time threat detection, automated incident response, and continuous infrastructure monitoring.
These tools also empower intelligent auditing through AI-driven models aligned with compliance frameworks such as HIPAA, ISO 27001, and GDPR. 
  </p>

  <div class="tool-grid">
    <div class="tool-card">
      <img src="assets/wazuh.png" alt="Wazuh" style="width: 100%; height: 100px; object-fit: cover;"  />
    </div>
    <div class="tool-card">
      <img src="assets/a.png" alt="Zabbix"style= "width:108%; height:100px; object-fit: cover;" />
    </div>
    <div class="tool-card">
      <img src="assets/hive.jpeg" alt="TheHive" style=" width: 100%; height: 100px; object-fit: cover;" />
    </div>
    <div class="tool-card">
      <img src="assets/MISP-Threat-Sharing.jpg" alt="MISP"  style="width: 100%; height: 100px; object-fit: cover;"/>
    </div>
    <div class="tool-card">
      <img src="assets/s1.png" alt="Elastic" style="width: 100%; height: 100px; object-fit: cover;" />
    </div>
    <div class="tool-card">
      <img src="assets/cortex-logo.png" alt="Kibana" style="width: 100%; height: 100px; object-fit: cover;" />
    </div>
    <div class="tool-card">
      <img src="assets/j.jpg" alt="Zeek"  style="width: 100%; height: 100px; object-fit: cover;"/>
    </div>
     <div class="tool-card">
      <img src="assets/mis.png" alt="Zeek"  style="width: 100%; height: 100px; object-fit: cover;"/>
    </div>
     <div class="tool-card">
      <img src="assets/firewall-1.png" alt="Zeek"  style="width: 100%; height: 100px; object-fit: cover;"/>
    </div>
     <div class="tool-card">
      <img src="assets/ahla.png"  style="width: 100%; height: 100px; object-fit: cover;"/>
    </div>
    <div class="tool-card">
      <img src="assets/tess1.png"  style="width: 100%; height: 100px; object-fit: cover;"/>
    </div>
  </div>
</section>
