/* You can add global styles to this file, and also import other style files */
body {
  background-color: #00004d; /* couleur de ta navbar */
  color: white;              /* pour la lisibilité */
  margin: 0;
  padding: 0;
}
