<section class="about-section">
  <div class="content-container">
    <div class="text-side">
      <h1>
        Protecting <span class="highlight">hospitals</span><br />
        from life-threatening cyberattacks.
      </h1>
      <p>
        Every second counts when lives are at stake.<br />
        We secure healthcare data, devices, and infrastructures.<br />
        <strong>Cybersecurity in healthcare is vital.</strong>
      </p>
    </div>

    <div class="image-side">
      <img src="assets/hh.png" alt="Cyber Globe" />
    </div>
  </div>
  

</section>
<div class="logo-carousel-wrapper">
  <div class="logo-carousel">
    <div class="logo-track">
      <img src="assets/iso.jpg" alt="Partner 1" />
      <img src="assets/hippa.jpg" alt="Partner 2" />
      <img src="assets/gdpr.jpg" alt="Partner 3" />
      <img src="assets/heal.png" alt="Partner 4" />
      <img src="assets/audit.jpg" alt="Partner 5" />
      <img src="assets/network.jpg" alt="Partner 6" />
      <img src="assets/soc.png" alt="Partner 7" />

      <!-- Duplique les logos pour effet infini -->
      <img src="assets/iso.jpg" alt="Partner 1" />
      <img src="assets/hippa.jpg" alt="Partner 2" />
      <img src="assets/gdpr.jpg" alt="Partner 3" />
      <img src="assets/heal.png" alt="Partner 4" />
      <img src="assets/audit.jpg" alt="Partner 5" />
      <img src="assets/network.jpg" alt="Partner 6" />
      <img src="assets/soc.png" alt="Partner 7" />
    </div>
  </div>
</div>

<section id="services">
  <app-service></app-service>
</section>
